#banbeis_home{
    background-color: white;
    border-radius: 5px;
    margin: 0 10px;
    margin-bottom: 10px;
}

#banbeis_home span{
    margin-left: 15px;
    color: #01579B;
    font-size: .95rem;
}
.accordion {
    --bs-accordion-color: #262b40;
    --bs-accordion-bg: #f5f8fb00;
    --bs-border-color: none;
}

