.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Map's CSS */

main {
  display: flex;
  position: fixed;
}

.map-container {
  width: 100vw;
}
/* Map's CSS */

/* Popup CSS */
.font-size-15 {
  font-size: 12px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.popup-image {
  max-width: 370px;
}

/* Popup CSS */

/* Header CSS */
.header-container {
  background-color: #1abc9c;
  padding: 1rem 0;
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}
/* Header CSS */

.my-button {
  background: #fff;
  cursor: pointer;
}

.my-button:hover {
  background: #f4f4f4;
}

.my-button:active {
  background: #bb9595;
}

.my-button i {
  margin: 9px 7px;
}
