/* Map's CSS */

main {
  display: flex;
  position: fixed;
}

.map-container {
  width: "50vw";
}
/* Map's CSS */

/* Popup CSS */
.font-size-15 {
  font-size: 12px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.popup-image {
  max-width: 370px;
}

.leaflet-popup-content {
  font-family: "Ubuntu";
}

/* Popup CSS */

/* Header CSS */
.header-container {
  cursor: pointer;
  background-color: #1abc9c;
  padding: 1rem 0;
  color: white;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}
/* Header CSS */

/* Search places CSS */
.search-place-container {
  z-index: 1000;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  background-color: white;
  top: 0;
  left: -100%;
  transition: all 0.5s ease-in-out;
}

.search-place-container-active {
  left: 0;
}

.search-place-header {
  padding: 1rem 0.5rem;
  background-color: #abd2de;
  text-align: center;
  position: relative;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.search-place-header-close {
  position: absolute;
  left: 1rem;
}

.search-place-list {
  overflow-y: scroll;
  height: 100vh;
  margin-bottom: 4rem;
}

.search-place-list-item {
  background-color: white;
  display: flex;
  padding: 1rem 0.25rem;
  margin: 1rem 0.5rem;
  border-radius: 0.5rem;
  height: 115px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  filter: grayscale(1);
  transition: all 0.25s ease-in-out;
}

.search-place-list-item:hover {
  filter: none;
}

@media only screen and (min-width: 768px) {
  .search-place-container {
    top: auto;
    width: 25%;
  }
}
/* Search places CSS */

.my-button {
  background: #fff;
  cursor: pointer;
}

.my-button:hover {
  background: #f4f4f4;
}

.my-button:active {
  background: #bb9595;
}

.my-button i {
  margin: 9px 7px;
}

/* ############################ */
/* All new CSS */

/* Main Body CSS */

:root {
  --header-height: 2.3rem;
  --nav-width: 68px;
  --first-color: #111111;
  --first-color-light: #afa5d9;
  --white-color: #f7f6fb;
  --body-font: "Ubuntu", sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100;
}

.body-area {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 0 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: 0.5s;
}

.body-pd {
  transition: 0.5s;
  padding-left: calc(var(--nav-width) + 1rem);
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--white-color);
  z-index: var(--z-fixed);
  transition: 0.5s;
}

.header-toggle {
  color: var(--first-color);
  font-size: 1.2rem;
  cursor: pointer;
}

.header-img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.header-img img {
  width: 40px;
}

/* Main Body CSS */

/* Sidebar's CSS */

.l-navbar {
  position: fixed;
  top: 0;
  left: -30%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: 0.5rem 1rem 0 0;
  transition: 0.5s;
  z-index: var(--z-fixed);
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: bold;
}

.nav_logo {
  margin-bottom: 2rem;
}

.nav-logo-icon {
  font-size: 1.25rem;
  color: var(--white-color);
}

.nav-logo-name {
  color: var(--white-color);
  font-weight: 700;
}

.nav_link {
  position: relative;
  color: var(--first-color-light);
  margin-bottom: 1.5rem;
  transition: 0.3s;
}

.nav_link:hover {
  color: var(--white-color);
}

.nav-icon {
  font-size: 1.25rem;
}

.show {
  left: 0;
}

.active {
  color: var(--white-color);
}

.active::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color);
}

/* Sidebar's CSS */

@media screen and (min-width: 768px) {
  .body-area {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 1rem);
  }

  .header-img {
    width: 35px;
    height: 35px;
  }

  .header-img img {
    width: 35px;
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0;
  }

  .show {
    width: calc(var(--nav-width) + 120px);
  }

  .body-pd {
    padding-left: calc(var(--nav-width) + 120px);
  }
}
